<div id="signin_form">
<% if current_user.nil? %>
  <br>
  <strong>Please sign in</strong>
  <%= form_for(:session, :url => sessions_path) do |f| %>

    <%= f.text_field :email, :value=>"",:placeholder => "example@email.com" %>

    <%= f.password_field :password, :value=>"",:placeholder => "password12345" %>

    <%= f.button "Sign in" %></br>
    <%= link_to image_tag("sign-in-with-twitter.png", alt: "Sign in with Twitter", :width => 154, :height => 22), "/auth/twitter" %>
    <%= link_to image_tag("sign-in-with-facebook.png", alt: "Sign in with Facebook", :width => 154, :height => 22), "/auth/facebook" %>
  <% end %>
</div>
<div class="new_user">
<p>New user? <%= link_to "Sign up now!", signup_path %></p>
<% end %>
</div>

