<form>
  <fieldset>
    <% if current_user.nil? %>
      <legend>Please sign in</legend>
      <%= form_for(:session, :url => sessions_path) do |f| %>
        <div class="row">
          <div class="large-6 columns">
        <%= f.text_field :email, :value=>"",:placeholder => "example@email.com" %>
          </div>
        </div>
        <div class="row">
          <div class="large-6 columns">
        <%= f.password_field :password, :value=>"",:placeholder => "password12345" %>
          </div>
        </div>
        <div class="row">
          <div class="large-6 columns">
        <%= f.button "Sign in" %></br>
        <%= link_to image_tag("sign-in-with-twitter.png", alt: "Sign in with Twitter", :width => 154, :height => 22), "/auth/twitter" %>
        <%= link_to image_tag("sign-in-with-facebook.png", alt: "Sign in with Facebook", :width => 154, :height => 22), "/auth/facebook" %>
          </div>
        </div>
      <% end %>
      <div class="row">
        <div class="small-12 columns">
      <p>New user? <%= link_to "Sign up now!", signup_path %></p>
        </div>
      </div>
      <% end %>
  </fieldset>
<form>

