<%= render "users/navigation" %>
<%= render "recipe_query" %>

<div class="large-12 columns">

  <h1> Recipes </h1>
  <% if @response.empty? %>
  <div class="small-12 columns">
    <center><h1><%= blank_message -%> </h1></center>
  </div>
  <% else %>
    <% @response.each do |x| %>
      <%= link_to(:controller => "recipes", :action => "show", :id => x["recipeId"]) do %>
        <div style="background-color: #e05757">
          <h3> <%= x["name"] %> </h3> <br>
          <img src="<%= x["image"] %>" height="80" width="80"> Prep time: <%= x["time"] %> minutes
        </div> 
      <% end %>
    <% end %>
  <% end %>
    
</div>

