<%= render "users/navigation" %>
<%= render "recipe_query" %>

<div>

  <h1> Recipes </h1>
  <% if @response.empty? %>
  <p>Sorry, I couldn't find anything.
  Maybe you need more time?</p>
  <% else %>
    <% @response.each do |x| %>
      <%= link_to(:controller => "recipes", :action => "show", :id => x["recipeId"]) do %>
        <div style="background-color: #e05757">
          <h3> <%= x["name"] %> </h3> <br>
          <img src="<%= x["image"] %>" height="80" width="80"> Prep time: <%= x["time"] %> minutes
        </div> 
      <% end %>
    <% end %>
  <% end %>
    
</div>

