<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <%= stylesheet_link_tag    "application" %>

  <title><%= content_for?(:title) ? yield(:title) : "Crunch-Mate" %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "vendor/custom.modernizr" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="row">
    <div class="small-8 columns"><%= yield %></div>
  </div>


<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= javascript_include_tag "application" %>


</body>
</html>
